################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/backend/Fteros/env
/backend/Fteros/obj/Debug
/.vs/Fteros/v15
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/backend/Fteros/crm/api/__pycache__
/backend/Fteros/crm/migrations/__pycache__
/backend/Fteros/crm/__pycache__
/backend/Fteros/Fteros/__pycache__
/backend/Fteros/gds/api/__pycache__
/backend/Fteros/gds/migrations/__pycache__
/backend/Fteros/gds/__pycache__
/backend/Fteros/util/api/__pycache__
/backend/Fteros/util/migrations/__pycache__
/backend/Fteros/util/__pycache__
/.vs/Workpace/v15
